/* -------- ESTILS GENERALS -------- */

body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: #f5f5f5;
}

h2 {
    color: #931621;
    text-align: center;
    margin-top: 30px;
}

/* -------- FORMULARI -------- */

form {
    background-color: white;
    width: 400px;
    margin: 30px auto;
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    font-weight: bold;
}

label {
    display: block;
    margin-top: 15px;
    color: #1d1d1d;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #931621;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: inherit;
}

input:focus, select:focus {
    outline: none;
    border-color: #db2231;
    box-shadow: 0 0 5px rgba(219,34,49,0.4);
}

/* -------- BOTONS -------- */

button {
    border-radius: 10px;
    color: white;
    padding: 10px;
    font-weight: bold;
    border: none;
    min-width: 100px;
    margin-top: 20px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Botó d'Alta */
#alta {
    background-color: #e67e22; /* taronja suau */
}

#alta:hover {
    background-color: #f39c12; /* un to més viu al passar el ratolí */
}

/* Botó Àrea personal */
#area {
    background-color: #34495e; /* blau grisós fosc */
}

#area:hover {
    background-color: #2c3e50; /* un to més fosc al passar el ratolí */
}


/* -------- MISSATGE D’ERROR -------- */

#missatgeError {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
}
