/*Estilos universales*/
a{
    text-decoration: none;
    color: black;
}
/*Estilos del header*/
.header{
    width: 100%;
    height: auto;

    background-color: blueviolet;

    display: flex;

}
.containerTitul{
    width: 60%;
    height: auto;

    display: flex;
    justify-content: right;
    align-items: center;
}
.containerBotons{
    width: 40%;
    height: auto;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5%;
    gap: 10px;
}

/*Estilos del main*/
.main{
    display: flex;
}

.aside{
    width: 15%;
    height: auto;

    background-color: lightgray;
}

.productList{
    width: 85%;
    height: auto;

    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    padding: 20px;
}