/* Estructura bàsica */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

/* ---------- ESTILS PER A VISUALITZAR DETALL (tickets) ---------- */
.infoClient, .infoFavorit {
    background-color: #ffffff;
    border: 2px dashed #007BFF;
    border-radius: 10px;
    padding: 25px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    line-height: 1.6;
    margin-top: 20px;
    font-size: 1.5em;
}

.infoClient p, .infoFavorit p {
    margin: 8px 0;
}

.infoClient strong, .infoFavorit strong {
    color: #007BFF;
}

/* ---------- BOTONS ---------- */

button {
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
    background-color: #6c757d;
    color: #fff;
}

button:hover {
    background-color: #215e8d;
}

/* ---------- DECORACIÓ PER AL COMPARADOR ---------- */
